html,
body {
  margin: 0;
}

body {
  height: 100vh;
}

.page-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

.page-header {
  grid-area: header;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 1rem;
}

.page-sidebar {
  grid-area: aside;
  border-right: 1px solid gray;
}

.page-content {
  grid-area: main;
  padding: 1rem;
}

.page-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 12px;
}
